<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <%- include('partials/navbar'); %>

    <div class="container-fluid">
        <h3 class="pb-2">Home</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 1px">Id</th>
                    <th >createdAt</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(product){%>
                    <tr>
                        <td><%= product._id %></td>
                        <td><%= product.createdAt %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <a style="width: 100px" class="btn btn-success" href="/?page=<%= previousPage %>">Previous</a>
        <a style="width: 100px" class="btn btn-success" href="/?page=<%= nextPage %>">Next</a>

    </div>

    <%- include('partials/footer'); %>
</body>

</html>
